---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const articles = await getCollection('articles')
---

<Layout title='Články'>
  <section class='px-4 bg-zinc-50 mx-auto max-w-5xl py-24'>
    <ul class='space-y-6'>
      {articles.length === 0 && <li class='text-gray-500'>Žiadne články zatiaľ neboli pridané.</li>}
      {
        articles.map((article) => (
          <li class='border-b border-zinc-200 pb-4'>
            <a href={`/articles/${article.id}/`} class='text-2xl font-semibold text-emerald-800 hover:underline'>
              {article.data.title}
            </a>
            {article.data.date && <div class='text-gray-500 text-sm mt-1'>{article.data.date}</div>}
            {article.data.description && <div class='text-zinc-700 mt-2'>{article.data.description}</div>}
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
