---
interface Props {
  text: string
  href: string
}

const { text, href } = Astro.props
---

<button>
  <a class='group relative inline-block font-bold text-yellow-50 focus:outline-none active:text-yellow-200' href={href}>
    <span
      class='absolute inset-0 translate-x-0.5 translate-y-0.5 rounded-lg bg-yellow-500 transition-transform group-hover:translate-x-0 group-hover:translate-y-0'
    ></span>

    <span class='absolute inset-0 rounded-lg bg-emerald-800 focus:bg-emerald-500'></span>

    <span
      class='relative block rounded-lg border border-yellow-500 px-7 py-4 font-bold uppercase tracking-widest drop-shadow-lg hover:drop-shadow-none'
    >
      {text}
    </span>
  </a>
</button>
