---
import { Markdown } from '@astropub/md'

interface Props {
  of: string
}

const { of } = Astro.props
---

<div class='prose prose-headings:scroll-m-20 hover:prose-a:text-emerald-700 max-w-fit'>
  <Markdown of={of} />
</div>
