---
import { Markdown } from '@astropub/md'

interface Props {
  of: string
}

const { of } = Astro.props
---

<div class='p-8'>
  <Markdown of={of} />
</div>

<style>
  /* Custom markdown styles can be added here if needed */
</style>
