---
import DynamicImage from './DynamicImage.astro'
import StyledMarkdown from './StyledMarkdown.astro'

interface Props {
  title: string
  image: string
  text: string
  blueColor?: boolean
}

let { title, image, text, blueColor } = Astro.props
if (!title || !image || !text) {
  throw new Error('title, image and text are required for SubSectionWithImage component')
}

let bgColorClass = blueColor ? 'odd:bg-cyan-50 even:bg-zinc-50' : 'odd:bg-emerald-50 even:bg-zinc-50'
---

<section
  class={'flex flex-col lg:flex-row odd:md:flex-row-reverse transition-shadow duration-300 hover:shadow-md ' +
    bgColorClass}
>
  <div class='md:w-1/2 overflow-hidden'>
    <DynamicImage
      src={image}
      class='object-cover w-full h-full transition-transform duration-500 will-change-transform hover:scale-105'
    />
  </div>
  <div class='flex flex-col md:w-1/2 px-6 pt-6 lg:pl-12 lg:pr-0'>
    <h3 class='p-3 pl-0 text-2xl font-large'>{title}</h3>
    <StyledMarkdown of={text} />
  </div>
</section>
