---
import StyledMarkdownFullWidth from './StyledMarkdownFullWidth.astro'

const blocks: { part_title: string; part_description: string }[] = Astro.props.blocks
---

<div class='mt-8 w-full'>
  {
    blocks.map((block) => (
      <div class='flex flex-col lg:flex-row border-t-2 border-t-yellow-100 py-12 transition-shadow duration-300 odd:bg-emerald-50 hover:shadow-md'>
        <div class='lg:w-1/5 items-center pl-6 lg:px-8' role='heading' aria-level='2'>
          <h2 class='title-font text-lg font-medium tracking-widest text-zinc-900'>{block.part_title}</h2>
        </div>
        <div class='flex lg:w-4/5 flex-col items-center justify-center px-6'>
          <StyledMarkdownFullWidth of={block.part_description} />
        </div>
      </div>
    ))
  }
</div>
