---
import groupImage from '../images/uploads/dom_umenia.jpg'
import { Image } from 'astro:assets'
---

<section>
  <div class='mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16'>
    <div class='grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16'>
      <div class='relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full'>
        <Image
          src={groupImage}
          alt='Us and the players before the game'
          class='absolute inset-0 h-full w-full object-cover'
          loading={'eager'}
        />
      </div>

      <div class='lg:py-24'>
        <h2 class='font-large pb-3 pl-0 text-5xl'>Event Horizon, o.z.</h2>

        <address class='mt-4 not-italic text-gray-600'>
          <div>Budatínska 3075/43</div>
          <div>851 06 Bratislava–Petržalka</div>
          <div>IČO: <span aria-label='Identification number'>50234480</span></div>
          <div>Email: <a href='mailto:kralovstvo@event-horizon.sk'>kralovstvo@event-horizon.sk</a></div>
          <div>Tel: <a href='tel:+421944286578'>+421 944 286 578</a></div>
        </address>
      </div>
    </div>
  </div>
</section>
