---
import Bars from 'astro-heroicons/outline/Bars3.astro'
import { Image } from 'astro:assets'
import transparentLogo from '../images/LogoTransparent.png'
---

<div
  class="absolute z-10 flex min-h-10 w-full flex-row items-center justify-between bg-zinc-50/80 p-2 shadow-sm md:min-h-24 md:p-4">
  <div class="w-10 md:w-14 xl:w-16">
    <Image
      src={transparentLogo}
      alt="LOGO Kráľovstva - vínovy pohár s korunkou"
    />
  </div>

  <div
    class="bg-gradient-to-t from-amber-500 to-amber-500 bg-[length:100%_0.2rem] bg-[center_bottom_5px] bg-no-repeat font-display text-2xl tracking-tighter text-zinc-900 md:bg-[length:100%_0.3rem] md:bg-[center_bottom_4px] md:text-5xl">
    <span class="p-3 pb-0 leading-none">LARP KRÁĽOVSTVO </span>
  </div>

  <Bars class="mr-4 inline h-8 stroke-2 align-top text-slate-800 xl:h-10" />
</div>
