---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../components/HeroImage.astro";
import UspCard from "../components/UspCards.astro";
import EventInfo from "../components/EventInfo.astro";
---

<Layout title="LARP Kráľovstvo">
  <div>
    <HeroImage/>
    <UspCard/>
    <EventInfo eventName="larp2024" href="#"/>
  </div>
    
</Layout>
