---
import Header from '../components/shared/Header.astro'
import Footer from '../components/shared/Footer.astro'
import 'github-markdown-css/github-markdown-light.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Stránka udalostí LARPu kráľovstva vína od občianskeho združenia event horizon' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-zinc-100'>
    <Header title={title} />
    <div class='markdown-body prose prose-ol:font-bold mx-auto max-w-5xl bg-zinc-50 shadow-inner xl:px-10'>
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  @tailwind base;
  @font-face {
    font-family: 'texturina';
    src: url('fonts/Texturina-VariableFont_opsz,wght.ttf');
  }
  @font-face {
    font-family: 'fixel';
    src: url('fonts/FixelVariable.ttf');
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    padding-top: 120px;
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
</style>
