---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Stránka udalostí LARPu kráľovstva vína od občianskeho združenia event horizon' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-zinc-100'>
    <Header title={title} />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @font-face {
    font-family: 'texturina';
    src: url('fonts/Texturina-VariableFont_opsz,wght.ttf');
  }
  @font-face {
    font-family: 'fixel';
    src: url('fonts/FixelVariable.ttf');
  }

  @layer components {
    .link-effect {
      @apply cursor-pointer;
      @apply hover:bg-lime-800;
      @apply hover:font-extrabold;
      @apply hover:text-amber-50;
      @apply underline;
    }
  }
</style>
