---
import * as content from '../../content/pages/current-larp-event.md'
import sanitizeHtml from 'sanitize-html'
import DynamicImage from '../shared/DynamicImage.astro';

const steps = content.frontmatter.registration_steps as { 
  step_title: string; 
  step_description: string;
  step_icon: string;
}[]

// Function to sanitize and clean SVG content
function sanitizeSvg(svg: string) {
  return sanitizeHtml(svg, {
    allowedTags: ['svg', 'path', 'circle', 'rect', 'line', 'polyline', 'g'],
    allowedAttributes: {
      '*': [
        'fill', 'stroke', 'stroke-linecap', 'stroke-linejoin', 'stroke-width',
        'class', 'viewBox', 'd', 'xmlns', 'width', 'height', 'transform'
      ]
    }
  });
}
---

<section class="text-zinc-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        {
          steps.map((step, index) => (
            <div class="flex relative pb-12">
              {index !== steps.length - 1 && (
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-zinc-200 pointer-events-none"></div>
                </div>
              )}
              <div class="flex-shrink-0 w-10 h-10 rounded-full bg-amber-500 inline-flex items-center justify-center text-white relative z-10">
                {step.step_icon ? (
                  <Fragment set:html={sanitizeSvg(step.step_icon)} />
                ) : (
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                </svg>
                )}
              </div>
              <div class="flex-grow pl-4">
                <h2 class="font-medium title-font text-sm text-zinc-900 mb-1 tracking-wider">{step.step_title}</h2>
                <p class="leading-relaxed">{step.step_description}</p>
              </div>
            </div>
          ))
        }
      </div>
      <DynamicImage class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src={content.frontmatter.registrationImage} alt="step" />
    </div>
  </div>
</section>