---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<div class="p-6">
  <a
    href={href}
    class="rounded-lg bg-gradient-to-t from-orange-500 to-orange-200 px-6 py-4 font-semibold text-amber-50 drop-shadow-md transition-colors duration-300 hover:from-orange-500 hover:to-orange-100 hover:drop-shadow-lg">
    {text}
  </a>
</div>
