---
import { Img } from "astro-imagetools/components";
import Bars from "astro-heroicons/outline/Bars3.astro";
---

<div
  class="absolute z-10 flex min-h-10 w-full flex-row items-center justify-between bg-zinc-50/60 p-2 shadow-sm md:min-h-24 md:p-4">
  <div class="w-10 md:w-14 xl:w-16">
    <Img
      src="./LogoTransparent.png"
      alt="LOGO Kráľovstva - vínovy pohár s korunkou"
      placeholder="blurred"
    />
  </div>

  <div
    class="bg-gradient-to-t from-amber-300 to-amber-300 bg-[length:100%_0.4rem] bg-[center_bottom_4px] bg-no-repeat font-display text-2xl tracking-tighter text-zinc-900 md:text-5xl">
    <span class="p-3 pb-0 leading-none"> KRÁĽOVSTVO </span>
  </div>

  <Bars class="mr-4 inline h-8 stroke-2 align-top text-slate-800 xl:h-10" />
</div>
