---
import { Img } from "astro-imagetools/components";
import Bars from "astro-heroicons/outline/Bars3.astro";
---

<div
  class="flex flex-row bg-slate-50/50 justify-between items-center shadow-sm p-2 absolute w-full min-h-10
  lg:p-4">
  <div class="w-6 lg:w-10 xl:w-16">
    <Img
      src="./LogoTransparent.png"
      alt="LOGO Kráľovstva - vínovy pohár s korunkou"
      placeholder="blurred"
    />
  </div>

  <div class="text-zinc-900 text-2xl font-display tracking-tighter
    lg:text-4xl xl:text-6xl">
    <span
      class="p-3"
      style="background: linear-gradient(orange, orange) 0 63% / 100% 4px no-repeat;">
      KRÁĽOVSTVO
    </span>
  </div>

  <Bars class="h-8 inline align-top mr-4 text-slate-800 stroke-2 xl:h-10" />
</div>
