---
import { Img } from "astro-imagetools/components";
import Button from "./Button.astro"
---

<div class="bg-purple-500">
    <div>
        <Img src="./hero-images/EpicLesijVtipnePozadie.jpg" alt="Obrazok Lesija" placeholder="tracedSvg" />
    </div>
    <Button text="Registrácia" href="/registracia"/>
</div>