---
import Button from "./Button.astro";
---

<section
  class="relative bg-[url('/hero-images/LesovikDramatickyVykrik.jpg')] bg-cover bg-center bg-no-repeat text-zinc-50">
  <div
    class="bg-gradient-to-t absolute inset-0  from-lime-950/70 to-transparent via-lime-600/10 via-75%">
  </div>

  <div
    class="relative mx-auto max-w-screen-xl items-center px-4 pb-12 pt-72 sm:px-6 lg:flex lg:h-screen lg:px-8">
    <div class="max-w-xl text-center sm:text-left ">
      <h1 class="font-large text-4xl sm:text-5xl drop-shadow-lg leading-relaxed font-medium">
        Vytvorme spolu
        <span class="text-amber-300">
          fantastické príbehy
        </span>
      </h1>

      <div class="mt-8 flex justify-center gap-4">
        <Button text="Registrácia" href="/registracia" />
      </div>
    </div>
  </div>
</section>
