---

---

<section class="body-font text-zinc-600">
  <div class="container mx-auto px-5 py-24">
    <div class="mb-20 flex w-full flex-col text-left">
      <h2 class="mb-4 font-large text-2xl text-zinc-900 sm:text-3xl">
        Kto sme?
      </h2>
      <p class="text-base leading-relaxed lg:w-2/3">
        Rôznorodá banda dobrovoľníkov, ktorých svet Kráľovstva natoľko očaril,
        že mu teraz venujú veľkú časť svojho srdiečka a voľného času. Je nás
        teraz už 14, nájdeš nás všetkých? 
        <br/>Ak by si sa chcel pridať, tak stačí
        napísať mail na kralovstvo@event-horizon.sk
      </p>
    </div>
    <div class="-m-2 flex flex-wrap">
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/80x80"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">
              Lukáš 'Elf' Reviľák
            </h2>
            <p class="text-gray-500">Hlavný org a krčmár</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/84x84"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Roman 'Vizi' Vizvári</h2>
            <p class="text-gray-500">Hlavný org, marketer a vizionár</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/88x88"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Rišo Frolkovič</h2>
            <p class="text-gray-500">Majster, herný dizajn a technik</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/90x90"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Jakub Vojtko</h2>
            <p class="text-gray-500">Hlava združenia, admin a technik</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/94x94"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Mišo 'Ismo' Dobrota</h2>
            <p class="text-gray-500">Arcimajster</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/98x98"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Ivka Cingelová</h2>
            <p class="text-gray-500">Vedúca príbehu</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/100x90"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">atď atď</h2>
            <p class="text-gray-500">QA Engineer</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/104x94"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Alper Kamu</h2>
            <p class="text-gray-500">System</p>
          </div>
        </div>
      </div>
      <div class="w-full p-2 md:w-1/2 lg:w-1/3">
        <div
          class="flex h-full items-center rounded-lg border shadow-sm border-amber-300 p-4">
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full shadow-inner object-cover object-center"
            src="https://dummyimage.com/108x98"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium text-zinc-900">Rodrigo Monchi</h2>
            <p class="text-gray-500">Product Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
