---
import Layout from '../layouts/Layout.astro'
import Team from '../components/Team.astro'
import OurStory from '../components/OurStory.astro'
import Contact from '../components/Contact.astro'
import ThankYou from '../components/ThankYou.astro'
---

<Layout title='O nás'>
  <div class='mx-auto max-w-5xl bg-zinc-50'>
    <OurStory />
    <Contact />
    <ThankYou />
    <Team />
  </div>
</Layout>
