---
import Layout from '../layouts/Layout.astro'
import HeroImage from '../components/HeroImage.astro'
import Team from '../components/Team.astro'
---

<Layout title='LARP Kráľovstvo'>
  <HeroImage />
  <div class='mx-auto max-w-5xl bg-zinc-50 shadow-inner xl:px-10'>
    <Contact />
    <OurStory />
    <Team />
  </div>
</Layout>
