---
import CharacterForm from '../components/character-creation/CharacterForm.astro'
import CharacterManual from '../components/character-creation/CharacterManual.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Postava'>
  <div class='bg-zinc-50 mx-auto max-w-5xl py-24'>
    <CharacterForm />
    <CharacterManual />
  </div>
</Layout>
