---
import StoryInfo from '../components/larp-event/StoryInfo.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const eventColection = await getCollection('events', ({ data }: { data: any }) => data.archived)
if (!eventColection || eventColection.length === 0) {
  console.log(`No archived events found`)
  return
}
---

<Layout title='Kronika'>
  {
    eventColection.map((event) => {
      return (
        <div class='pt-24 bg-zinc-50 mx-auto max-w-5xl'>
          <StoryInfo eventTitle={event.data.title} />
        </div>
      )
    })
  }
</Layout>
