---
import Layout from '../layouts/Layout.astro'
import HeroImage from '../components/HeroImage.astro'
import UspCard from '../components/UspCards.astro'
import EventInfo from '../components/EventInfo.astro'
import Partners from '../components/Partners.astro'
import Team from '../components/Team.astro'
import PlayerStories from '../components/PlayerStories.astro'
---

<Layout title='LARP Kráľovstvo'>
  <HeroImage />
  <div class='mx-auto max-w-5xl bg-zinc-50 shadow-inner xl:px-10'>
    <UspCard />
    <EventInfo eventName='larp2024' href='#' />
    <Partners />
    <Team />
    <PlayerStories />
  </div>
</Layout>
