---
import Layout from '../layouts/Layout.astro'
import Team from '../components/Team.astro'
import JoinTeam from '../components/JoinTeam.astro'
---

<Layout title='Pridaj sa k nám'>
  <div class='mx-auto max-w-5xl bg-zinc-50'>
    <JoinTeam />
    <Team />
  </div>
</Layout>
