---
import Layout from '../layouts/Layout.astro'
import RulesTabs from '../components/RulesTabs.astro'
import * as content from '../content/pages/larp-rules.md'
import { Markdown } from '@astropub/md'
import { Image } from 'astro:assets'
import backgroundImage from '../images/uploads/NastupenaVlciaStraz.jpg'
---

<Layout title={content.frontmatter.larp_rules_title}>
  <div class='mx-auto max-w-5xl bg-zinc-50 pt-24 shadow-inner'>
    <div class='relative min-h-fit'>
      <Image
        alt='NastupenaVlciaStraz'
        class='absolute inset-0 h-full object-cover object-center'
        src={backgroundImage}
      />
      <div class='relative z-10 flex min-h-fit w-full items-center justify-center p-8 pt-[25%]'>
        <div class='rounded-md border-4 border-amber-200 bg-zinc-100/95 p-8 text-lg'>
          <Markdown of={content.frontmatter.rules_intro} />
        </div>
      </div>
    </div>

    <RulesTabs />
  </div>
</Layout>
