---
import GuildsAndGroups from '../components/world/GuildsAndGroups.astro'
import WorldIntro from '../components/world/WorldIntro.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Svet Kráľovstva'>
  <div class='bg-zinc-50 mx-auto max-w-5xl pb-24'>
    <WorldIntro />
    <GuildsAndGroups />
  </div>
</Layout>
