---
import WorldIntro from '../components/WorldIntro.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Svet Kráľovstva'>
  <div class='bg-zinc-50 mx-auto max-w-5xl'>
    <WorldIntro />
  </div>
</Layout>
